@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


@font-face {
    font-family: 'satoshi';
    src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
            url('/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}