@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(180deg, rgb(255, 255, 255), rgb(162, 183, 226));
}